.aboutScreenTextOne {
  background-color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(25px + 1vmin);
  color: rgb(7, 72, 194);
}

.aboutHeadersOne{
  background: #03738f;
}

.aboutHeadersTwo{
  background: #03738f;
}

.aboutHeadersThree{
  background: #03738f;
}

.alert{
  background-color: #be8509;
  min-height: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(25px + 1vmin);
  color: rgb(59, 56, 56);
}

a {
  color: rgb(0, 0, 0);
  font-size: calc(20px + 1vmin);
}

a:hover {
  color: rgb(7, 72, 194);
}

.aboutScreenTextTwo {
  background-color: #ffffff;
  min-height: 23vh;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(23.5px + 1vmin);
  color: rgb(7, 72, 194);
} 

.aboutScreenTextThree {
  background-color: #ffffff;
  min-height: 23vh;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(23.5px + 1vmin);
  color: rgb(150, 180, 236);
} 

.App {
  text-align: center;
}

.App-title {
  height: 10vmin;
  pointer-events: none;
  display: inline-block;
}

.App-header {
  background-color: #03738f;
  border-style: solid;
  opacity: .8;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  background: #ffffff;
  background-clip: padding-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(100px + 1vmin);
  color: rgb(7, 72, 194);
}

.App-subheader {
  background-color: #03738f;
  border-style: solid;
  opacity: .8;
  padding: 5px;
  border-radius: 8px;
  background: #ffffff;
  background-clip: padding-box;
  display: inline-block;
  min-height: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(50px + 1vmin);
  color: rgb(7, 72, 194);
}

.App-navigation {
  background-color: #ffffff;
  min-height: 56.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 1vmin);
  color: rgb(7, 72, 194);
}

div{
  border-style: solid;
  border-radius: 8px;
  padding: 0px;
  background: #03738f;
}

nav{
  background-color: #03738f;
  display: inline-block;
  
}

.btn-css{
  background-color: #949493;
  min-height: 7vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  display: inline-block;
}

Button{
  background-color: #949493;
  min-height: 5vh;
  border-radius: 8px;
  display: flex;
  opacity: .6;
  padding: 10px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(25px + 2vmin);
  color: rgb(0, 0, 0);
  display: inline-block;
}


.checkAnswerButton{
  background-color: #ffffff;
  opacity: .8;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(15px + 2vmin);
  color: rgb(59, 56, 56);
  display: inline-block;
}

.checkAnswerButton:hover{
  color: rgb(0, 0, 0)
}

.App-link {
  color: #3b3a3a;
}

.difficultyScreen {
  background-color: #be8509;
  min-height: 62px;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(40px + 1vmin);
  color: rgb(59, 56, 56);
}

.difficulty-button {
  background-color: #be8509;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(25px + 1vmin);
  color: rgb(59, 56, 56);
}

.easy-page {
  background-color: #be8509;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(30px + 2vmin);
  color: rgb(59, 56, 56);
}

.medium-page {
  background-color: #be8509;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(30px + 2vmin);
  color: rgb(59, 56, 56);
}

.hard-page {
  background-color: #be8509;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(30px + 2vmin);
  color: rgb(59, 56, 56);
}

.homeButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(30px + 2vmin);
}

h1{
  background-color: #03738f;
  border-style: solid;
  border-radius: 8px;
  background: #ffffff;
  padding: 5px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(50px + 2vmin);
  color: rgb(7, 72, 194);
}

h2{
  background-color: #686767;
  border-style: solid;
  border-radius: 8px;
  background: #ffffff;
  padding: 5px;
  display: inline-block;
  background-clip: padding-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(50px + 1vmin);
  color: rgb(7, 72, 194);
}

h3{
  background-color: #03738f;
  border-style: solid;
  border-radius: 8px;
  background: #ffffff;
  opacity: .8;
  padding: 15px;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(90px);
  color: rgb(7, 72, 194);
}

h4{
  background-color: #03738f;
  border-style: solid;
  border-radius: 20px;
  background: #ffffff;
  opacity: .8;
  padding: 50px;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(80px + 2.77vh);
  color: rgb(7, 72, 194);
}

.textField{
  margin: auto;
  height: 30px;
  text-align: center;
  padding: 10px 0px;
  border-radius: 8px;
  width: 300px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
